<!DOCTYPE html>
{{ define "modules/user/html/register" }}
<html lang="en">
{{ template "templates/layouts/html/head" . }}
<body>

<!-- Begin Nav
================================================== -->
{{ template "templates/layouts/html/header" . }}
<!-- End Nav
================================================== -->

<div class="container">


    <!-- Begin Form
    ================================================== -->
    <div class="col-md-12 col-md-offset-2 col-xs-12">
        <div class="auth">
            <div class="auth-triangle"></div>

            <h2 class="auth-header">Register</h2>

            <form class="auth-container" method="POST" action="/register">
                <p>
                    <label for="username">Name</label>
                    <input type="text" id="username" name="username" placeholder="Username"
                           value="{{range .OLD.username}}{{.}}{{end}}">
                    <span class="text-danger">{{.ERRORS.username}}</span>
                </p>
                <p>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Email"
                           value="{{range .OLD.email}}{{.}}{{end}}">
                    <span class="text-danger">{{.ERRORS.email}}</span>
                </p>
                <p>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password">
                    <span class="text-danger">{{.ERRORS.password}}</span>
                </p>
                <p><button type="submit">Register</button></p>
            </form>
            <p class="text-center">Or <a href="#">Login</a></p>
        </div>
    </div>
    <!-- End Form
        ================================================== -->
    {{ template "templates/layouts/html/footer" . }}
    <!-- End Footer
    ================================================== -->

</div>
<!-- /.container -->
{{ template "templates/layouts/html/script" . }}
</body>
</html>

{{ end }}